rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso público total para integración embebida (Iframe)
    match /agents/{agentId} {
      allow read, write: if true;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}